<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.yandex.subbota_job.notes">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:description="@string/permission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/stock_notes"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme">
        <activity
            android:name=".viewController.NotesListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewController.NoteContentActivity"
            android:label="@string/title_activity_note_content"
            android:parentActivityName=".viewController.NotesListActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.yandex.subbota_job.notes.viewController.NotesListActivity" />
        </activity>

        <service
            android:name=".SyncService"
            android:exported="false" />

        <activity android:name=".viewController.ConnectionActivity"
            />

        <service
            android:name=".executor.ImportService"
            android:exported="false"/>
    </application>

</manifest>